@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-menu-enter {
  transform: translateX(100%);
}

.dropdown-menu-enter-active {
  transition: 300ms;
  transform: translateX(0);
}

.dropdown-menu-exit {
  transform: translateX(0);
}

.dropdown-menu-exit-active {
  transition: 300ms;
  transform: translateX(100%);
}
