.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  cursor: grab;
  user-select: none;
  border-radius: 4px;
  border: 3px solid rgb(183, 139, 5);
  width: 100px;
  height: 100px;
  background-color: rgb(228, 180, 36);
}

.card:active {
  cursor: grabbing;
}
